.navbar-pc {
  background-color: #3b82f6;
  color: white;
  padding: 1rem 0;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin-left: 0rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }

  .nav-wrapper {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    .nav-links {
      display: flex;
      gap: 2.5rem;

      a {
        text-decoration: none;  /* Убираем подчеркивание */
        color: white;
        padding: 0.5rem 0; /* Немного добавим отступов для улучшения кликабельности */
        transition: color 0.3s; /* Плавный переход для цвета текста */

        &:hover {
          color: rgba(255, 255, 255, 0.7); /* Затемнение текста при наведении */
        }
      }
    }

    .auth-links {
      display: flex;
      gap: 1rem;

      a,
      .button {
        text-decoration: none;
        background-color: white;
        color: #3b82f6;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-weight: 500;
        transition: background-color 0.2s;

        &:hover {
          background-color: #e5e7eb;
        }
      }

      button {
        border: none;
        cursor: pointer;
      }
    }
  }

  // Прячем на маленьких экранах
  @media (max-width: 768px) {
    display: none;
  }
}
