.hotel-page {
  padding: 20px;
}

.hotel-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}
.hotel-info {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-details {
  flex: 1;
  max-width: 720px;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 15px; // <-- Увеличено расстояние между элементами
  font-size: 1.05rem;
  line-height: 1.6;

  p {
    margin: 0;
  }

  a {
    color: #0645ad; // классический синий цвет ссылки
    text-decoration: underline;

    &:hover {
      color: #0b61d8;
    }
  }
}

.hotel-images {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  max-height: 500px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.hotel-image-thumbnail {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.hotel-image-thumbnail:hover {
  transform: scale(1.05);
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 1015px) {
  .hotel-info {
    flex-direction: column; /* Ставим элементы в колонку */
  }

  .hotel-details {
    order: 1; /* Информация будет сверху */
  }

  .hotel-images {
    order: 2; /* Фотографии будут снизу */
  }
}

.view-rooms-btn {
  background-color: #4CAF50; /* Зеленый цвет */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.view-rooms-btn:hover {
  background-color: #45a049;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.active {
  display: flex;
}

.modal img {
  max-width: 90%; /* Ограничиваем ширину изображения */
  max-height: 80%; /* Ограничиваем высоту изображения */
  object-fit: contain; /* Изображения сохраняют пропорции, не обрезаются */
}

.add-room-btn {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #45a049;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #4caf50;
  }
}